.socials ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials img {
  width: auto;
  height: auto;
  max-width: 50px;
  max-height: 50px;
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}

.socials a {
  text-decoration: none;
}
